body {
    background: #f3f3f3;
    font-family: Arial;
}

.container {
    width: 400px;
    margin: 40px auto;
    background: green;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 70%;
    padding: 8px;
}

button {
    padding: 8px 12px;
    background: rgb(0, 132, 255);
    border: none;
    color: white;
    cursor: pointer;
}
